body {
  --color1: #dcdcdd;
  --color2: #c5c3c6;
  --color3: #46494c;
  --color4: #4c5c68;
  --color5: #1985a1;
  --colorDark: #272727;
  --header-height: 40px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--color4);
  color: var(--color1);
}

.architect {
  font-family: 'Architects Daughter', cursive;
}
.comforter {
  font-family: 'Comforter Brush', cursive;
}
.fredoka {
  font-family: 'Fredoka One', cursive;
}
.indie-flower {
  font-family: 'Indie Flower', cursive;
}
.monteserrat {
  font-family: 'Montserrat', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}
.titillium {
  font-family: 'Titillium Web', sans-serif;
}
